
.RewardsBalanceLiquidity {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  position: relative;

  h1{
    width: 80%
  }

  h2 {
    font-size: 1em;
  }
  .IncentivesItem {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    h3 {
      font-family: Montserrat,sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #68cdc6;
      margin: 0 .15em 0 0;
    }
    p {
      margin: 0;
      font-family: Montserrat,sans-serif;
      font-size: 1em;
      font-weight: 400;
      color: #68cdc6;
    }
  }

  .claimButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    margin: 25px auto auto;
  }
  .Tooltip{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #707070;
    cursor: pointer;
  }
}
.Card.withPadding {
  padding: 1.6em;
  height: 135px;
  //width: 248px;
  //@media (max-width: 600px) {
  //  width: 248px;
  //}
}


.Card{
  .withPadding {
    padding: 1.6em;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.6em 1.6em 0;
    margin-bottom: 15px;
    h1 {
      margin: 0;
      font-family: Montserrat,sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #707070;
    }

  }
}

.ContainerMocAmount{
  .Metric {
    margin-top: 10px;
  }
}


.test{
  flex: auto;
}