.RbtcToBtcModal{
    .ant-modal-header {
        background-color: black;
        color: white;
        padding: 7px;
    }

    .ant-modal-close {
        color: white;
        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }
    }

    .title {
        background: #000;
        align-items: center;
        //padding:0;
        h1 {
            font-family: Quicksand,sans-serif;
            color: #fff;
            //font-family: Source Sans Pro,sans-serif;
            font-weight: 700;
            line-height: 18px;
            font-size: 10px;
            margin-left: 6px;
            margin-bottom: unset;
        }
    }

    .CardLogo {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        h1 {
            color: white;
        }
        .title-text {
            flex-grow: 1;
            text-align: center;
            h1 {
                font-size: 18px;
                font-weight: bold;
                margin: unset;
            }
        }
    }

    p {
        &.main-p {
            font-size: 12px;
            text-align: left;
        }
        &.instructions {
            margin-top: 14px;
        }
    }

    .conversion-limits {
        padding: 9px;
        border-radius: 8px;
        background: #08374F;
        color: white;
        font-size: 12px;
        p {
            margin: unset;
        }
    }

    .instructions {
        font-size: 12px;
        list-style-type: '•';
        padding: 0;
        margin: 0;
        padding-left: 4px;
    }

    .GenerateBTC {
        text-align: center;
        margin-top: 15px;
        .ant-btn {
            height: auto;
        }
    }

    .generated-qr {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        justify-items: center;
        align-items: center;
        .token {
            flex-grow: 1;
            h3 {
                font-size: 14px;
                font-weight: bold;
                text-align: left;
            }
            .CopyableText {
                margin: 0;
                font-size: 0.85em;
                font-weight: 400;
                color: #232222;
                display: flex;
                align-items: center;
                justify-items: center;
                .anticon {
                    font-size: 17px;
                    cursor: pointer;
                }
                p {margin: 0 1em}
            }
        }
    }

    .ant-modal-footer {
        .alert-message {
            display: flex;
            flex-direction: row;
            border-radius: 8px;
            background: #08374F;
            padding: 4px 10px;
            align-items: center;
            text-align: left;
            p {
                color: #fff;
                padding-left: 12px;
                font-weight: normal;
                font-size: 14px;
                text-align: left;
                line-height: 16px;
                margin-bottom: unset;
            }
            .anticon {
                color: white;
                font-size: 24px;
            }
        }
    }
}