@import '~antd/dist/antd.css';
//@import './header';
//@import './sidebar';
//@import './page';
//@import './icons';
//@import './icons-custom';
//@import './responsive';
//@import './config_styling.scss';

body, html {
  font-family: "Open Sans", sans-serif;
  background-color: #131215;
}

.ant-layout {
  color: #7F8A99;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #131215;

  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.ant-layout-content {
  flex: auto;
  min-height: 0;
}

.ant-layout-header {
  height: 80px;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 0;
  background: #131215;
}

// Header
.header-container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
}

.header-logo {
  width: 192px;
  height: 80px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  line-height: 80px;

}

.logo-app {
  width: 127.25px;
  height: 42px;
  background-image: url("../icons/logo-app.svg");
  background-size: 127.25px 42px;
  background-repeat:no-repeat;
  margin-left: 32px;
  margin-top: 19px;

}

.central-menu {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 736px;
  height: 80px;
  margin-left: 31px;
  line-height: 80px;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.menu-nav-item {
  /* Nav Item */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 15px;
  gap: 8px;

  width: 132px;
  height: 80px;

  /* Surface/Surface at +1 */

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.menu-nav-item:hover {
  background: #2e2c2e;
}

.menu-nav-item-title {
  width: 97px;
  height: 17px;

  /* Button Text */
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Text/Text Secondary */

  color: #7F8A99;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo-home {
  width: 32px;
  height: 32px;
  background-image: url("../icons/House.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-send {
  width: 32px;
  height: 32px;
  background-image: url("../icons/PaperPlaneTilt.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-exchange {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ArrowsLeftRight.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-performance {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ChartBar.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-more {
  width: 32px;
  height: 32px;
  background-image: url("../icons/More.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.wallet-user {

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 8px 16px;
  gap: 8px;

  width: 192px;
  height: 80px;
  margin-left: 31px;
  line-height: 80px;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.wallet-translation {
  /* Auto layout */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Text/Text Secondary */

  color: #7F8A99;



  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 80px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.logo-translation {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Globe.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.wallet-address {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Buttons/Button Primary */

  color: #F1EB14;

  width: 128px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.wallet-address a {
  color: #F1EB14;
}

.logo-wallet {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Wallet.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}


/* Content */
.content-container {
  margin-top: 24px;

}

/* Dashboard staking */
.dashboard-staking-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*padding: 12px 32px;*/

  height: 80px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.first-item {
  margin-left: 32px;
}

.second-item {
  margin-left: 64px;
}

.item-staking {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 232px;
  height: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-staking {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*padding: 12px;*/
  gap: 8px;

  width: 48px;
  height: 48px;

  /* Backgrounds/Background Level 3 */

  background: #1F2125;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.icon-staked {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ChartBar.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 8px;
  margin-top: 8px;*/
}

.icon-gauge {
  width: 32px;
  height: 32px;
  background-image: url("../icons/Gauge.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-calendar {
  width: 32px;
  height: 32px;
  background-image: url("../icons/CalendarPlus.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-calendar-check {
  width: 32px;
  height: 32px;
  background-image: url("../icons/CalendarCheck.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 8px;
  margin-top: 8px;*/
}

.resume-staking {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  width: 115px;
  height: 50px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.number-staking {
  /* Dashboard Price */
  width: 115px;
  height: 29px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Text/Text Secondary */

  color: #7F8A99;



  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.description-staking {
  /* Dashboard Text */
  width: 170px;
  height: 17px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Secondary */

  color: #7F8A99;



  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.dashboard-portfolio {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0px 8px;
  gap: 8px;
  margin-top: 24px;

  /*position: absolute;*/
  width: 1184px;
  height: 412px;
  /*left: 130px;
  top: 240px;*/

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.tokens-card-content {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 24px;

  width: 1184px;
  height: 372px;

}

.tokens-list-header {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 311px;

  width: 1120px;
  height: 49px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.tokens-list-header-title {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 668px;
  height: 24px;

  /* Card Contents/Card Title */

  font-family: 'Chivo';
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;



  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.tokens-list-header-balance {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;

  width: 141px;
  height: 49px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.tokens-list-header-balance-number {
  width: 141px;
  height: 24px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  /* Text/Text Primary */

  color: #C3CCD9;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}
.tokens-list-header-balance-title {

  width: 113px;
  height: 21px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;

  /* Text/Text Secondary */

  color: #7F8A99;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.tokens-list-table {

  width: 1120px;
  height: 299px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

/* Table tokens */
.ant-table-thead > tr > th {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  /* Text/Text Secondary */

  color: #7F8A99;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
}

.ant-table {

  /* List/List Data */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;

}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0;
}

.ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #2E3238;
}

.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #2e2c2e;
}

.ant-table-body::-webkit-scrollbar {
  width: 6px;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.ant-table-body::-webkit-scrollbar-thumb {
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  background: rgba(201, 214, 255, 0.24);
  border-radius: 3px;
}


/* Token icons */

.item-token {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 216px;
  height: 32px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-token-coinbase {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/coinbase.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-ca_0 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/ca_0.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-ca_1 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/ca_1.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tc {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tc.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tg {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tg.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tp_0 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tp_0.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tp_1 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tp_1.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tx {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tx.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

/* Last operations */


.content-last-operations {
  /* Auto layout */
  margin-top: 24px;
  padding: 32px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  /*
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1180px;
  height: 357.39px;*/

}

h1.title-last-operations {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  /* Text/Text Primary */
  color: #C3CCD9;
}

/* Modal Exchange */

.modal-exchange {

  /* Exchange */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;

  position: relative;
  width: 676px;
  height: 454px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.08), rgba(189, 207, 255, 0.08)), #131215;
  /* M3/Elevation Dark/2 */

  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.modal-exchange-header {

  /* Modal Header */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 8px;
  gap: 258px;

  width: 612px;
  height: 37px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;


}

.modal-exchange-header h1 {
  /* Exchange */


  width: 96px;
  height: 24px;

  /* Card Contents/Card Title */

  font-family: 'Chivo';
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  /* Brand Colors/Brand Color */

  color: #F1EB14;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-close {
  width: 24px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.icon-modal-close {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Close.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.modal-exchange-content {
  /* Mint-Redeem Modal */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  /* Auto layout */


  width: 612px;
  height: 321px;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.exchange-content-fields {
  /* Fields */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 320px;
  height: 296px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.exchange-content-info {
  /* Info */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 260px;
  height: 321px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.exchange-content-info-prices {

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 260px;
  height: 42px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.exchange-content-info-conversion_0 {
  width: 260px;
  height: 17px;

  /* Card Contents/Explanation */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;

}

.exchange-content-info-conversion_1 {
  /* Balance: */

  width: 242px;
  height: 17px;

  /* Card Contents/Explanation */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;
}

.exchange-content-info-fees {
  /* Fees */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 11px 0px 4px;
  gap: 16px;

  width: 260px;
  height: 119px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.exchange-content-info-fees-frame {
  /* Frame 10 */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 245px;
  height: 47px;
}

.exchange-content-info-fees-frame-t {

  /* Balance: */


  width: 198px;
  height: 17px;

  /* Card Contents/Explanation */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;


}

.exchange-content-info-fees-frame-switch {

  /* Switch */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  gap: 8px;

  width: 44px;
  height: 22px;

  /* Field Background */

  background: #2D313A;
  border-radius: 11px;

}

.exchange-content-info-fees-balance {

  /* Balance: */


  width: 245px;
  height: 56px;

  /* Card Contents/Explanation (small) */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* Text/Text Primary */

  color: #C3CCD9;


}

.exchange-content-info-cta {
  /* CTA */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 260px;
  height: 96px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.exchange-content-info-cta-exchanging {

  /* Exchanging */


  width: 193px;
  height: 19px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* Buttons/Button Primary */

  color: #F1EB14;

}

.exchange-content-info-cta-button {

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;

  width: 148px;
  height: 53px;

  /* Buttons/Button Primary */

  background: #F1EB14;
  /* Shadow */

  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  /* Buttons/Button Text Color */

  color: #0C0C08;


}

.exchange-swap-from {

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 318px;
  height: 108px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.exchange-swap-arrow {

  width: 32px;
  height: 32px;

}

.icon-swap-arrow {
  width: 32px;
  height: 32px;
  background-image: url("../icons/SwapArrow.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

select .exchange-select-token {

}

input[type='text'].exchange-input-value {

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11px 16px;
  gap: 8px;

  width: 318px;
  height: 51px;

  background: #2D313A;
  border-radius: 4px;
  border: 0;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: right;

  /* Buttons/Button Primary */

  color: #F1EB14;

}

input[type='text'].exchange-input-value::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F1EB14;
  opacity: 1; /* Firefox */
}

.exchange-currency-option {

}

.exchange-currency-caption {

}

.exchange-token-balance {

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 4px;
  gap: 8px;

  width: 318px;
  height: 17px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;

}

.exchange-token-balance-value {
  /* Balance: */


  width: 117px;
  height: 17px;

  /* Card Contents/Explanation */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;


}

a.exchange-token-balance-add-total {

  /* Balance: */


  width: 121px;
  height: 17px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: right;

  /* Buttons/Button Primary */

  color: #F1EB14;


}



.exchange-swap-to {

  /* SwapTo */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 318px;
  height: 108px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;

}


.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #131215;
}


//.rlogin-modal-header{
//  background-color: #08374F;
//}

.rlogin-modal-close-button{
  display: none;
}

.rlogin-modal-lightbox{
  backdrop-filter: blur(5px) !important;
}

//.rlogin-modal-body{
//  border: 4px solid #08374F;
//  border-bottom-right-radius: 11px;
//  border-bottom-left-radius: 11px;
//}



//.ant-modal-header{
//  background-color: #08374F;
//  padding: 8px 24px;
//  border-radius: 0 0 0 0;
//}

//.ant-modal-title, .ant-modal-close{
//  color: white;
//  text-align: center;
//}

.ant-modal-title{
  font-size: 19px;
  font-weight: 600;
}


.ant-modal-close {
  top: -7px;
}

//.ant-modal-close-x {
//  font-size: 21px;
//}

//.ant-modal-content{
//  border: 4px solid #08374F;
//}

