@import '~antd/dist/antd.css';
//@import './header';
//@import './sidebar';
//@import './page';
//@import './icons';
//@import './icons-custom';
//@import './responsive';
//@import './config_styling.scss';

body, html {
  font-family: "Open Sans", sans-serif;
  background-color: #131215;
}

.ant-layout {
  color: #7F8A99;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #131215;

  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.ant-layout-content {
  flex: auto;
  min-height: 0;
}

.ant-layout-header {
  height: 80px;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 0;
  background: #131215;
}

// Header
.header-container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
}

.header-logo {
  width: 192px;
  height: 80px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  line-height: 80px;

}

.logo-app {
  width: 127.25px;
  height: 42px;
  background-image: url("../icons/logo-app.svg");
  background-size: 127.25px 42px;
  background-repeat:no-repeat;
  margin-left: 32px;
  margin-top: 19px;

}

.central-menu {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 736px;
  height: 80px;
  margin-left: 31px;
  line-height: 80px;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.menu-nav-item {
  /* Nav Item */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 15px;
  gap: 8px;

  width: 132px;
  height: 80px;

  /* Surface/Surface at +1 */

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.menu-nav-item:hover {
  background: #2e2c2e;
}

.menu-nav-item-title {
  width: 97px;
  height: 17px;

  /* Button Text */
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Text/Text Secondary */

  color: #7F8A99;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo-home {
  width: 32px;
  height: 32px;
  background-image: url("../icons/House.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-send {
  width: 32px;
  height: 32px;
  background-image: url("../icons/PaperPlaneTilt.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-exchange {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ArrowsLeftRight.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-performance {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ChartBar.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-more {
  width: 32px;
  height: 32px;
  background-image: url("../icons/More.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.wallet-user {

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 8px 16px;
  gap: 8px;

  width: 192px;
  height: 80px;
  margin-left: 31px;
  line-height: 80px;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.wallet-translation {
  /* Auto layout */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Text/Text Secondary */

  color: #7F8A99;



  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 80px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.logo-translation {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Globe.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.wallet-address {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Buttons/Button Primary */

  color: #F1EB14;

  width: 128px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.wallet-address a {
  color: #F1EB14;
}

.logo-wallet {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Wallet.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}


/* Content */
.content-container {
  margin-top: 24px;

}

/* Dashboard staking */
.dashboard-staking-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*padding: 12px 32px;*/

  height: 80px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.first-item {
  margin-left: 32px;
}

.second-item {
  margin-left: 64px;
}

.item-staking {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 232px;
  height: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-staking {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*padding: 12px;*/
  gap: 8px;

  width: 48px;
  height: 48px;

  /* Backgrounds/Background Level 3 */

  background: #1F2125;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.icon-staked {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ChartBar.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 8px;
  margin-top: 8px;*/
}

.icon-gauge {
  width: 32px;
  height: 32px;
  background-image: url("../icons/Gauge.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-calendar {
  width: 32px;
  height: 32px;
  background-image: url("../icons/CalendarPlus.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-calendar-check {
  width: 32px;
  height: 32px;
  background-image: url("../icons/CalendarCheck.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 8px;
  margin-top: 8px;*/
}

.resume-staking {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  width: 115px;
  height: 50px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.number-staking {
  /* Dashboard Price */
  width: 115px;
  height: 29px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Text/Text Secondary */

  color: #7F8A99;



  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.description-staking {
  /* Dashboard Text */
  width: 170px;
  height: 17px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Secondary */

  color: #7F8A99;



  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.dashboard-portfolio {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0px 8px;
  gap: 8px;
  margin-top: 24px;

  /*position: absolute;*/
  width: 1184px;
  height: 412px;
  /*left: 130px;
  top: 240px;*/

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.tokens-card-content {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 24px;

  width: 1184px;
  height: 372px;

}

.tokens-list-header {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 311px;

  width: 1120px;
  height: 49px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.tokens-list-header-title {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 668px;
  height: 24px;

  /* Card Contents/Card Title */

  font-family: 'Chivo';
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;



  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.tokens-list-header-balance {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;

  width: 141px;
  height: 49px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.tokens-list-header-balance-number {
  width: 141px;
  height: 24px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  /* Text/Text Primary */

  color: #C3CCD9;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}
.tokens-list-header-balance-title {

  width: 113px;
  height: 21px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;

  /* Text/Text Secondary */

  color: #7F8A99;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.tokens-list-table {

  width: 1120px;
  height: 299px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

/* Table tokens */
.ant-table-thead > tr > th {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  /* Text/Text Secondary */

  color: #7F8A99;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
}

.ant-table {

  /* List/List Data */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  /* Text/Text Primary */

  color: #C3CCD9;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;

}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0;
}

.ant-table-cell-scrollbar:not([rowspan]) {
  box-shadow: none;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #2E3238;
}

.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #2e2c2e;
}

.ant-table-body::-webkit-scrollbar {
  width: 6px;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.ant-table-body::-webkit-scrollbar-thumb {
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  background: rgba(201, 214, 255, 0.24);
  border-radius: 3px;
}


/* Token icons */

.item-token {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 216px;
  height: 32px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-token-coinbase {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/coinbase.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-ca_0 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/ca_0.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-ca_1 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/ca_1.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tc {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tc.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tg {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tg.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tp_0 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tp_0.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tp_1 {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tp_1.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

.icon-token-tx {
  width: 24px;
  height: 24px;
  background-image: url("../icons/tokens/tx.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
}

/* Last operations */


.content-last-operations {
  /* Auto layout */
  margin-top: 24px;
  padding: 32px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  /*
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1180px;
  height: 357.39px;*/

}

h1.title-last-operations {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  /* Text/Text Primary */
  color: #C3CCD9;
}

/* Modal Confirm operation */

.ModalConfirmOperation {
  font-family: 'Chivo';

  .ant-modal-content {
    background: linear-gradient(0deg, rgba(189, 207, 255, 0.08), rgba(189, 207, 255, 0.08)), #131215;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .ant-modal-header {
    background-color: transparent !important;
    border-bottom: 0 !important;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }

  .ant-modal-title {
    color: #F1EB14 !important;
    text-align: left !important;
  }

  .ant-modal-body {
    padding: 32px;
  }

  .ant-modal-content {
    border: 0 !important;
  }

  .ant-modal-close-x {
    color: #C3CCD9;

  }

}


.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.confirm-operation {

  font-family: 'Chivo';

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;

  width: 451px;
  height: 540px;

  .exchange {
    /* Exchange */
    gap: 16px;

    width: 451px;
    height: 122px;

    .swapFrom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      gap: 8px;
      width: 451px;
      height: 29px;

      .value {
        width: 81px;
        height: 29px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: #F7F115;
      }

      .token {
        width: 114px;
        height: 29px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #C3CCD9;
        text-align: right;
      }

    }

    .swapArrow {
      width: 451px;
      height: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .swapTo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      gap: 8px;
      width: 451px;
      height: 29px;
      .value {
        width: 81px;
        height: 29px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: #F7F115;
      }

      .token {
        width: 104px;
        height: 29px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #C3CCD9;
        text-align: right;
      }
    }
  }

  .prices {
    align-items: flex-start;
    padding: 0;
    gap: 8px;

    width: 451px;
    height: 42px;
    margin-top: 8px;

    .rate_1 {
      width: 451px;
      height: 17px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C3CCD9;
    }
    .rate_2 {
      width: 242px;
      height: 17px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C3CCD9;
      margin-top: 8px;
    }
  }

  .separator {
    width: 451px;
    height: 0;
    border: 1px solid #2E3238;
  }

  .fees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 11px 0px 4px;
    gap: 16px;
    width: 451px;
    height: 61px;

    .value {
      width: 198px;
      height: 17px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C3CCD9;
    }

    .disclaimer {
      width: 436px;
      height: 28px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #C3CCD9;
    }

  }

  .customize-tolerance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 451px;
    height: 16px;

    .CollapseTolerance {

      .PriceVariationSetting {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #C3CCD9;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .SliderText {
        margin-left: 8px;

      }

    }

    .ant-collapse {
      background-color: transparent;
      border: none;
    }
    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
    }

  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 451px;
    height: 94px;
    margin-top: 10px;

    .exchanging {
      width: 175px;
      height: 17px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #FAF515;
      margin-top: 90px;
    }

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px 32px;
      gap: 8px;
      width: 220px;
      height: 53px;
      background: #F1EB14;
      box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #0C0C08;
      margin-top: 20px;
    }

  }

  .tx-submit {

  }

  .tx-sent {

    .status {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 16px;
      width: 387px;
      height: 105px;

      .transaction-id {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 387px;
        height: 22px;

        .label {
          width: 100px;
          height: 17px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #C3CCD9;
        }

        .address-section {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding: 0px;
          gap: 8px;
          width: 163px;
          height: 22px;

          .address {
            width: 136px;
            height: 17px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FCF615;

          }

        }

      }

      .tx-logo-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 387px;
        height: 32px;
      }

      .status-label {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #C3CCD9;
      }

      .btnClose {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 8px;
        width: 113px;
        height: 53px;
        background: #F1EB14;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #0C0C08;

      }


    }

    .waiting {

    }

    .success {

    }

    .error {

    }

  }


}

.icon-copy {
  width: 22px;
  height: 22px;
  background-image: url("../icons/copy.svg");
  background-size: 22px 22px;
  background-repeat:no-repeat;
}

.icon-tx-waiting {
  width: 32px;
  height: 32px;
  background-image: url("../icons/tx-waiting.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-tx-success {
  width: 32px;
  height: 32px;
  background-image: url("../icons/tx-success.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-tx-error {
  width: 32px;
  height: 32px;
  background-image: url("../icons/tx-error.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-swap-arrow {
  width: 32px;
  height: 32px;
  background-image: url("../icons/SwapArrow.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-wheel {
  width: 16px;
  height: 16px;
  background-image: url("../icons/Wheel.svg");
  background-size: 16px 16px;
  background-repeat:no-repeat;
}





/* Modal Exchange */

.ModalExchange {

  font-family: 'Chivo';

  .ant-modal-content {
    background: linear-gradient(0deg, rgba(189, 207, 255, 0.08), rgba(189, 207, 255, 0.08)), #131215;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .ant-modal-header {
    background-color: transparent !important;
    border-bottom: 0 !important;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 32px 10px 32px;
  }

  .ant-modal-title {
    color: #F1EB14 !important;
    text-align: left;
    padding-top: 20px;
  }

  .ant-modal-content {
    border: 0 !important;
  }

  .ant-modal-close-x {
    color: #C3CCD9;
  }

  .ant-modal-close {
    top: 8px;
  }

  .ant-modal-body {
    padding: 16px 32px 32px 32px;
  }

}


/* Exchange Component */

.exchange-content {

  font-family: 'Chivo';
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 612px;
  height: 321px;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 320px;
    height: 296px;
    flex: none;
    order: 0;
    flex-grow: 0;

    select .select-token {

    }

    input[type='text'].input-value {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 11px 16px;
      gap: 8px;
      width: 318px;
      height: 51px;
      background: #2D313A;
      border-radius: 4px;
      border: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      color: #F1EB14;

    }

    input[type='text'].input-value::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #7F8A99;
      opacity: 1; /* Firefox */
    }

    .token-balance {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0px 0px 4px;
      gap: 8px;
      width: 318px;
      height: 17px;
      flex: none;
      order: 2;
      flex-grow: 0;

      .token-balance-value {
        width: 117px;
        height: 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C3CCD9;
      }

      a.token-balance-add-total {
        width: 131px;
        height: 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #F1EB14;

      }


    }

    .swap-from {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;
      width: 318px;
      height: 108px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .swap-arrow {
      width: 32px;
      height: 32px;
    }

    .swap-to {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;
      width: 318px;
      height: 108px;
      flex: none;
      order: 2;
      flex-grow: 0;
    }


  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    width: 260px;
    height: 321px;
    flex: none;
    order: 1;
    flex-grow: 0;

    .prices {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 8px;
      width: 260px;
      height: 42px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      .conversion_0 {
        width: 260px;
        height: 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C3CCD9;
      }

      .conversion_1 {
        width: 242px;
        height: 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C3CCD9;
      }

    }

    .fees {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 11px 0px 4px;
      gap: 16px;
      width: 260px;
      height: 119px;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

      .frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 245px;
        height: 47px;

        .frame-t {
          width: 198px;
          height: 17px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #C3CCD9;
        }

        .switch {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 3px;
          gap: 8px;
          width: 44px;
          height: 22px;
          background: #2D313A;
          border-radius: 11px;

          .ant-switch {
            background-color: #2D313A;
          }

          .ant-switch-handle::before {
            background-color: #F1EB14;
          }

        }

      }

      .balance {
        width: 245px;
        height: 56px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #C3CCD9;
      }

    }

    .cta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 24px;
      width: 260px;
      height: 96px;
      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 0;

      .exchanging {
        width: 200px;
        height: 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #F1EB14;
      }

    }

  }

}

.ShowModalConfirmOperation {
  .btnConfirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    width: 148px;
    height: 53px;
    background: #F1EB14;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #0C0C08;
  }
}

/*
.exchange-content-info-cta-button {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;

  width: 148px;
  height: 53px;

  background: #F1EB14;

  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #0C0C08;

}*/







.exchange-currency-option {

}

.exchange-currency-caption {

}




.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #131215;
}


//.rlogin-modal-header{
//  background-color: #08374F;
//}

.rlogin-modal-close-button{
  display: none;
}

.rlogin-modal-lightbox{
  backdrop-filter: blur(5px) !important;
}

//.rlogin-modal-body{
//  border: 4px solid #08374F;
//  border-bottom-right-radius: 11px;
//  border-bottom-left-radius: 11px;
//}



//.ant-modal-header{
//  background-color: #08374F;
//  padding: 8px 24px;
//  border-radius: 0 0 0 0;
//}

//.ant-modal-title, .ant-modal-close{
//  color: white;
//  text-align: center;
//}

.ant-modal-title{
  font-size: 19px;
  font-weight: 600;
}


.ant-modal-close {
  top: -7px;
}

//.ant-modal-close-x {
//  font-size: 21px;
//}

//.ant-modal-content{
//  border: 4px solid #08374F;
//}

