@import '~antd/dist/antd.css';
//@import './header';
//@import './sidebar';
//@import './page';
//@import './icons';
//@import './icons-custom';
//@import './responsive';
//@import './config_styling.scss';

body, html {
  font-family: "Montserrat", sans-serif;
  background-color: #131215;
}

.ant-layout {
  color: #7F8A99;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #131215;

  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.ant-layout-content {
  flex: auto;
  min-height: 0;
}

.ant-layout-header {
  height: 80px;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 0;
  background: #131215;
}

// Header
.header-container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
}

.header-logo {
  width: 192px;
  height: 80px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  line-height: 80px;

}

.logo-app {
  width: 127.25px;
  height: 42px;
  background-image: url("../icons/logo-app.svg");
  background-size: 127.25px 42px;
  background-repeat:no-repeat;
  margin-left: 32px;
  margin-top: 19px;

}

.central-menu {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 736px;
  height: 80px;
  margin-left: 31px;
  line-height: 80px;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.menu-nav-item {
  /* Nav Item */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 15px;
  gap: 8px;

  width: 132px;
  height: 80px;

  /* Surface/Surface at +1 */

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.menu-nav-item-title {
  width: 87px;
  height: 17px;

  /* Button Text */
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Text/Text Secondary */

  color: #7F8A99;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo-home {
  width: 32px;
  height: 32px;
  background-image: url("../icons/House.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-send {
  width: 32px;
  height: 32px;
  background-image: url("../icons/PaperPlaneTilt.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-exchange {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ArrowsLeftRight.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-performance {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ChartBar.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.logo-more {
  width: 32px;
  height: 32px;
  background-image: url("../icons/More.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.wallet-user {

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 8px 16px;
  gap: 8px;

  width: 192px;
  height: 80px;
  margin-left: 31px;
  line-height: 80px;
  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.wallet-translation {
  /* Auto layout */

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Text/Text Secondary */

  color: #7F8A99;



  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 80px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.logo-translation {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Globe.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}

.wallet-address {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Buttons/Button Primary */

  color: #F1EB14;

  width: 128px;
  height: 24px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.wallet-address a {
  color: #F1EB14;
}

.logo-wallet {
  width: 24px;
  height: 24px;
  background-image: url("../icons/Wallet.svg");
  background-size: 24px 24px;
  background-repeat:no-repeat;
  /*margin-left: 32px;
  margin-top: 19px;*/

}


/* Content */
.content-container {
  margin-top: 24px;

}

/* Dashboard staking */
.dashboard-staking-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*padding: 12px 32px;*/

  height: 80px;

  background: linear-gradient(0deg, rgba(189, 207, 255, 0.05), rgba(189, 207, 255, 0.05)), #131215;
  /* M3/Elevation Dark/1 */

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

}

.first-item {
  margin-left: 32px;
}

.second-item {
  margin-left: 64px;
}

.item-staking {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 232px;
  height: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-staking {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*padding: 12px;*/
  gap: 8px;

  width: 48px;
  height: 48px;

  /* Backgrounds/Background Level 3 */

  background: #1F2125;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

.icon-staked {
  width: 32px;
  height: 32px;
  background-image: url("../icons/ChartBar.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 8px;
  margin-top: 8px;*/
}

.icon-gauge {
  width: 32px;
  height: 32px;
  background-image: url("../icons/Gauge.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-calendar {
  width: 32px;
  height: 32px;
  background-image: url("../icons/CalendarPlus.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
}

.icon-calendar-check {
  width: 32px;
  height: 32px;
  background-image: url("../icons/CalendarCheck.svg");
  background-size: 32px 32px;
  background-repeat:no-repeat;
  /*margin-left: 8px;
  margin-top: 8px;*/
}



.resume-staking {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  width: 115px;
  height: 50px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.number-staking {
  /* Dashboard Price */
  width: 115px;
  height: 29px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Text/Text Secondary */

  color: #7F8A99;



  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.description-staking {
  /* Dashboard Text */
  width: 140px;
  height: 17px;

  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  /* Text/Text Secondary */

  color: #7F8A99;



  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #131215;
}


//.rlogin-modal-header{
//  background-color: #08374F;
//}

.rlogin-modal-close-button{
  display: none;
}

.rlogin-modal-lightbox{
  backdrop-filter: blur(5px) !important;
}

//.rlogin-modal-body{
//  border: 4px solid #08374F;
//  border-bottom-right-radius: 11px;
//  border-bottom-left-radius: 11px;
//}



//.ant-modal-header{
//  background-color: #08374F;
//  padding: 8px 24px;
//  border-radius: 0 0 0 0;
//}

//.ant-modal-title, .ant-modal-close{
//  color: white;
//  text-align: center;
//}

.ant-modal-title{
  font-size: 19px;
  font-weight: 600;
}


.ant-modal-close {
  top: -7px;
}

//.ant-modal-close-x {
//  font-size: 21px;
//}

//.ant-modal-content{
//  border: 4px solid #08374F;
//}

