@import '../../assets/css/global.scss';

.MetricsCardsContainer {
  .Card {
    height: 100%;

    .CardMetricContent {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      font-size: 21px;

      .green{
        color: #00a651;
      }
      h3 {
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #707070;
      }
      h5 {
        color: #878787;
        font-size: 14px;
        font-weight: normal;
        @media only screen  and (max-width: 600px) {
          //padding-left: 75px;
          margin-left: 0 !important;
        }
      }
      div {
        flex-grow: 1;
        //margin-right: 15px;
        &:last-child {
          margin-right: 0;
          //margin-left: 15px;
        }
      }
      .separator {
        flex-grow: 0;
        height: 180px;
        width: 1px;
        margin-left: 15px;
        margin-right: 15px;
        background: #b9b9b9;
        margin-top: 25px;
        @media only screen and (max-width: 1000px){
          display: none;
        }
      }
      .space{
        margin-bottom: 25px;
        display: inline-block;
      }
      .red{
        color: #ed1c24;
      }
      @media only screen and (max-width: 600px){
        flex-flow: column !important;
      }
    }
  }

  @media only screen and (max-width: 1575px) and (min-width: 600px) {
    //padding-left: 75px;
    margin-right: 0 !important;
  }
  @media only screen and (max-width: 1000px){
    flex-flow: column !important;
  }
}


.SystemStatusSection{
  width: 40%;
  @media only screen and (max-width: 1000px){
    width: initial;
    margin-bottom: 15px;
  }
}

.RBTCSection{
  width: 60%;
  @media only screen and (max-width: 1000px){
    width: initial;
  }
}

.MetricsCardsDOC{
  width:20%;
  @media only screen and (max-width: 1000px){
    width: initial;
    margin-bottom: 15px;
  }
}

.MetricsCardsBPRO{
  width:40%;
  @media only screen and (max-width: 1000px){
    width: initial;
    margin-bottom: 15px;
  }
}

.MetricsCardsBTCX{
  width:40%;
  @media only screen and (max-width: 1000px){
    width: initial;
  }
}

.MetricsCardsMOC{
  width:20%;
  @media only screen and (max-width: 1000px){
    width: initial;
    margin-bottom: 15px;
  }
}

.MetricsCardsLiquidity{
  width:40%;
  @media only screen and (max-width: 1000px){
    width: initial;
    margin-bottom: 15px;
  }
}

.MetricsCardsNextSettlement{
  width:40%;
  @media only screen and (max-width: 1000px){
    width: initial;
  }
}


.datas-opera{
  span {
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
  }
}