@import '../../../assets/css/general_styling';

.CardSkeleton {
  margin: 10px;
  width: 100%;
  height: 100%;
}

.transaction-details{
  display: flex;
  flex-direction: column;
  text-align: left !important;

  &.disabled, &.disabled h1{
    color:lightgray;
  }

  .ButtonReloadTx{
    width: 10%;
  }
}

.ModalSend {
  display: flex;
  flex-flow: column;
  margin-top: -40px;
  padding: 25px;

  h1 {
    @include primary-text(1.2em, $grey, 400);
  }

  .modalButton:disabled{
    background-color: #e1e1e1;
  }

  .AmountContent {
    width: 100%;

    input {
      width: 90%;
    }
  }

  .separation {
    margin-top: 20px;
  }

  .footer {
    justify-content: space-evenly;
    margin-top: 25px;
    button {
      width: 120px;
    }
  }

  .commentInput {
    h3 {
      @include secondary-text(1em, $grey, 400);
    }
    input {
      border: none;
      border-bottom: 1px solid #e1e1e1;
      font-size: 16px;
      height: 48px;
      padding: 8px;
      width: 100%;
      background: #f7f7f7;
      &:hover,
      &:focus {
          @include input-style($primary-color);
      }
    }
  }
}


.img-set1{
  position: absolute;
  opacity: 0.1;
  top: 84px;
  right: 50px;
  @media screen and (min-width:450px) {
    top: 80px;
    right: 70px;
  }
}

.img-reload{
  position: absolute;
  top: 240px;
  right: 17px;
  @media screen and (min-width:450px) {
    top: 240px;
    right: 33px;
  }
}

.img-set2{
  position: absolute;
  opacity: 0.1;
  top: 285px;
  right: 50px;
  @media screen and (min-width:450px) {
    top: 280px;
    right: 70px;
  }
}
.transaction-btc-title{
  font-weight: bold;
}
.transaction-btc-sections-p{
  margin-bottom: 0.3em;
}

.mrb-4{
  margin-bottom: 40px;
}

.mrb-35{
  margin-bottom: 35px;
}

.mrt-25{
  margin-top: 20px;
}

.font-size-12{
  font-size: 12px;
}