@import 'src/assets/css/general_styling';
@import 'src/assets/css/config_styling.scss';

.PieChart{
  .piePiece{
      &.STABLE-MoC {
          fill: $color-moc-stable; 
      }
      &.STABLE-RDoC & {
        fill: $color-roc-stable;
      }
      &.RISKPRO-MoC {
          fill: $color-moc-riskpro;
      }
      &.RISKPRO-RDoC & {
        fill: $color-roc-riskpro;
      }
      &.RISKPROX-MoC {
        fill: $color-moc-riskprox;
      }
      &.RISKPROX-RDoC & {
        fill: $color-roc-riskprox;
    }
      &.MOC {
          fill: $color-moc;
      }
      &.EMPTY {
          fill: $low-grey;
      }
      &.RDoC {
        fill: $color-roc
      }
  }

  .pieChartTooltip {
      z-index: 2;
      background: $secondary-color;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      @include primary-text(1em, white, 400);
      .STABLE-MoC {
        color: $color-moc-stable;
        font-weight: 700;
      }
      .STABLE-RDoC & {
        color: $color-roc-stable;
        font-weight: 700;
      }
      .RISKPRO-MoC {
        color: $color-moc-riskpro;
        font-weight: 700;
      }
      .RISKPRO-RDoC & {
        color: $color-roc-riskpro;
        font-weight: 700;
      }
      .RISKPROX {
        color: $color-moc-riskprox;
        font-weight: 700;
      }
      .RISKPROX-RDoC & {
        color: $color-roc-riskprox;
        font-weight: 700;
      }
      .MOC {
        color: $color-moc;
        font-weight: 700;
      }
      .RDoC {
        color: $color-roc;
        font-weight: 700;
      }
  }
}