.WalletCardsContainer {
  display: flex;
  flex-direction: column;
  @media screen and (min-width:450px) {
    flex-direction: row;
  }

  width: 100%;
  row-gap: 15px;
}

.container-b{
  flex-grow: 1 !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 15px;
  .TokenSummaryCard {
    flex-grow: 1;
  }
}
