@import "src/assets/css/general_styling";
@import "src/assets/css/config_styling.scss";

.RDoC-STABLE {
  color: $color-roc-stable;
}
.RDoC-RIKSPRO {
  color: $color-roc-riskpro;
}
.RDoC-RISKPROX {
  color: $color-roc-riskprox;
}


.WalletCurrencyPrice {
  .item {
    margin-bottom: 0.8em;
  }

  h4 {
    .MoC & {
      @include primary-text(1em, $secondary-dark-color, 400);
    }
    .RDoC & {
      @include primary-text(1em, $accent-color, 500);
    }
  }

  @media (max-width: 500px) {
    h1 > div > span {
      font-size: 12px !important;
    }
    h4 {
      font-size: 12px !important;
    }
  }
}
