@import '~antd/dist/antd.css';
@import './header';
@import './sidebar';
@import './page';
@import './icons';
@import './icons-custom';
@import './responsive';

body, html {
  font-family: "Montserrat", sans-serif;
}

.page-container {
  background: #fafafa;
  display: flex;
  margin-right: auto;
  //width: calc(100% - 108px);
  margin-left: auto;
  flex-flow: column;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 20px;
  //min-width: 1400px;
  min-width: 1400px;
  max-width: 1400px;
  @media (max-width: 1555px) {
    min-width: initial;
    margin-left: 90px;
    margin-right: 10px;
  }
  @media (max-width: 600px) {
    margin-right: initial;
    margin-top: 44px;
  }
}

a {
  color: #09c199;
  font-weight: normal;
  font-size: 13px;
  &:hover {
    cursor: pointer;
    color: #09c199;
  }
}

.Spacer {
  flex-grow: 1;
}

.Number {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 600;
  &.Doc {
    color: #00a651;
  }
  &.Few {
    font-size: 15px;
    font-weight: 500;
    color: #707070;
  }
}

.Numbers {
  &.Left {
    text-align: left;
  }
  &.Right {
    text-align: right;
  }
}

.Card {
  width: 100%;
  padding: 1.6em;
  /*box-shadow: 0 1px 6px rgb(147 141 158 / 16%), 0 2px 6px rgb(52 53 62 / 16%);*/
  box-shadow: 0 1px 6px rgba(189, 188, 189, 0.34), 0 2px 6px rgba(189, 188, 189, 0.34);
  background: #fff;
  border-radius: 6px;

  .CardTitle {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #707070;
  }
  //height: 135px;
}

.recharts-responsive-container, .recharts-wrapper {
  margin: 0 !important;
}

.CoinSelect {
  .Number {
    font-size: 14px;
    font-weight: normal;
  }
  .ant-input, .ant-select, .ant-select-selector {
    box-shadow: none !important;
    border: none !important;
    background: #f7f7f7 !important;
    height: 48px !important;
    border-radius: 0;
    line-height: 48px !important;
    outline: none !important;
    &.ant-select-focused {
      outline: none !important;
      border: none !important;
    }
    .ant-select-selection-item {
      line-height: 48px;
    }
    .ant-select-arrow {
      color: #00a651!important;
    }
  }
}

.TextLegend {
  color: #b9b9b9;
  font-size: 12px;
}

.ant-btn {
  border-radius: 5px;
  //padding: 0 20px;
  height: 40px;
  &.ant-btn-ghost, &.ant-btn-default {
    border: solid 1px #09c199;
    color: #09c199;
    //box-shadow: 0 2px 4px rgb(9, 193, 153, 20%), 0 2px 4px rgb(9, 193, 153, 20%);
    &:hover {
      border: solid 1px #000;
      color: #000;
    }
  }
  &.ant-btn-primary {
    color: #fff;
    //box-shadow: 0 2px 4px rgb(9, 193, 153, 20%), 0 2px 4px rgb(9, 193, 153, 20%);
    border: solid 1px #09c199;
    background: #09c199;
    &:hover {
      background: #000;
      border: solid 1px #000;
      color: #fff;
    }
  }

  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active {
    border: solid 1px #707070;
    background: #707070;
    box-shadow: none;
    color: #fff;
  }

  &.ArrowButton {
    background: #09c199;
    border: none;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.ant-input {
  color: #000;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.ant-select-selection-item  {
  color: #000;
  font-weight: 400;
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.AlignedAndCentered {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Bold {
  font-weight: bold;
}
.Gray {
  color: gray;
  font-size: 1em;
}
.Name {
  font-size: 1.2em;
  flex-grow: 1;
}
.Value {
  font-size: 1.2em;
  text-align: right;
  flex-grow: 1;
}
.Legend {
  font-size: .7em;
  color: #878787;
}

.ant-layout{
  background-color: #fafafa;
}
.mrb-15{
  margin-bottom: 15px;
}
.mrb-25{
  margin-bottom: 25px;
}
.container-b{
  flex-grow: 1;
  display: flex;
  row-gap: 15px;
  flex-wrap: wrap;
}
.mrl-25{
  margin-left: 25px;
}

.MiddleSide {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    display: none;
  }
}

.CardAmount {
  height: 23.4em;
  img {
    margin-top:7px;
  }
  .Icon {
    color: #b9b9b9;
    font-size: 1.5em;
    cursor: pointer;
  }

  .tokenAndBalance {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    color: #707070;
    .priceContainer {
      font-size: 28px;
      font-weight: 600;
    }
    .balanceItem {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.CardYourAddress {
  .SendBtn {
    position: absolute;
    bottom: 2em;
    left: 5em;
  }
}

.WalletCards {
  display: flex;
  column-gap: 15px;

  .CardAmount {
    flex-grow: 0;
  }

  .CardYourAddress {
    flex-grow: 0;
  }

  .MintCard {
    flex-grow: 1;
    min-width: 60%;
  }

  &.Stable {
    .MintCard {
      min-width: 80%;
    }
  }
}

.CardSettlement {
  h2 {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #707070;
  }

  h3 {
    margin: 0;
  }
  .CaptionDateSettlement {
    font-size: 1em;
    color: #707070;
    font-weight: 500;
  }

  .SettlementTitle {
    font-weight: 700;
  }

  .Icon {
    margin-left: 0.5em;
    cursor: pointer;
  }
}

.Bprox2Metrix {
  h3 {
    margin: 0;
  }
  span {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #ed1c24;
  }
}


.Bprox2Metrix {
  h3 {
    margin: 0;
  }
  span {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #ed1c24;
  }
}

.RewardsStakingOptions {
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: inherit;
  }
  .ant-tabs-tab {
    color: #09c199!important;
  }

  .ant-tabs-ink-bar {
    background: #09c199!important;
  }
}
.RewardsBalanceContainer {
  h2 {
    font-size: 1em;
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    color: #8c8c8c;
  }

  h4 {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #68cdc6;
  }
}

.RewardsBalanceLiquidity {
  //margin-top: 1em;
  p {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #68cdc6;
    margin: 0 0.15em 0 0;
  }

  .ClaimButton {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

.ant-menu-submenu{
  margin-left: -14px;
}

.ant-menu-submenu-vertical{
  width: 100%;
}

.mt-0{
  margin-top: 0px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 2s infinite linear;
}
.error{
  color: red;
  font-size: 12px;
}

.statusGreen{
  color: #00a651;
}


.statusYellow{
  color: #E9BF4A;
}


.statusYellow{
  color: #E9BF4A;
}


.statusOrange{
  color: #ef8a13;
}


.statusRed{
  color: #ed1c24;
}


.statusPaused{
  color: #ed1c24;
}


.statusSettlement{
  color: #ed1c24;
}


.statusNoPrice{
  color: #ed1c24;
}

.arrow-center-values{
  @media only screen  and (max-width: 600px) {
    width: 100%;
  }
  img{
    margin-right: 10px;
  }
}

.status-confirmed{
  color: #478210;
}

.color-707070{
  color: #707070;
}
