@import '~antd/dist/antd.css';
@import './header';
@import './sidebar';
@import './page';
@import './icons';
@import './icons-custom';
@import './responsive';

body, html {
  font-family: "Montserrat", sans-serif;
}

.page-container {
  height: calc(100vh - 54px);
  background: #fafafa;
  margin-left: 80px;
  padding: 20px;
  margin-top: 54px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

a {
  color: #09c199;
  font-weight: normal;
  font-size: 13px;
  &:hover {
    cursor: pointer;
    color: #09c199;
  }
}

.Spacer {
  flex-grow: 1;
}

.Number {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 600;
 &.Doc {
   color: #00a651;
 }
  &.Few {
    font-size: 15px;
    font-weight: 500;
    color: #707070;
  }
}

.Numbers {
  &.Left {
    text-align: left;
  }
  &.Right {
    text-align: right;
  }
}

.Card {
  padding: 1.6em;
  /*box-shadow: 0 1px 6px rgb(147 141 158 / 16%), 0 2px 6px rgb(52 53 62 / 16%);*/
  box-shadow: 0 1px 6px rgba(189, 188, 189, 0.34), 0 2px 6px rgba(189, 188, 189, 0.34);
  background: #fff;
  border-radius: 6px;

  .CardTitle {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.CoinSelect {
  .Number {
    font-size: 14px;
    font-weight: normal;
  }
  .ant-input, .ant-select, .ant-select-selector {
    box-shadow: none !important;
    border: none !important;
    background: #f7f7f7 !important;
    height: 48px !important;
    border-radius: 0;
    line-height: 48px !important;
    outline: none !important;
    &.ant-select-focused {
      outline: none !important;
      border: none !important;
    }
    .ant-select-selection-item {
      line-height: 48px;
    }
    .ant-select-arrow {
      color: #00a651;
    }
  }
}

.TextLegend {
  color: #b9b9b9;
  font-size: 12px;
}

.ant-btn {
  border-radius: 5px;
  //padding: 0 20px;
  height: 40px;
  &.ant-btn-ghost, &.ant-btn-default {
    border: solid 1px #09c199;
    color: #09c199;
    box-shadow: 0 2px 4px rgb(9, 193, 153, 20%), 0 2px 4px rgb(9, 193, 153, 20%);
    &:hover {
      border: solid 1px #000;
      color: #000;
    }
  }
  &.ant-btn-primary {
    color: #fff;
    box-shadow: 0 2px 4px rgb(9, 193, 153, 20%), 0 2px 4px rgb(9, 193, 153, 20%);
    border: solid 1px #09c199;
    background: #09c199;
    &:hover {
      background: #000;
      border: solid 1px #000;
      color: #fff;
    }
  }

  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active {
    border: solid 1px #707070;
    background: #707070;
    box-shadow: none;
    color: #fff;
  }

  &.ArrowButton {
    background: #09c199;
    border: none;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.ant-input {
  color: #000;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.ant-select-selection-item  {
  color: #000;
  font-weight: 400;
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.AlignedAndCentered {
  margin-top: 15px;
}
.Bold {
  font-weight: bold;
}
.Gray {
  color: gray;
  font-size: 1em;
}
.Name {
  font-size: 1.2em;
  flex-grow: 1;
}
.Value {
  font-size: 1.2em;
  text-align: right;
  flex-grow: 1;
}
.Legend {
  font-size: .7em;
  color: #878787;
}

.ant-layout{
  background-color: #fafafa;
}
.mrb-15{
  margin-bottom: 15px;
}