@import '~antd/dist/antd.css';
@import './header';
@import './sidebar';
@import './page';
@import './icons';
@import './icons-custom';

body, html {
  font-family: "Montserrat", sans-serif;
}

.page-container {
  height: calc(100vh - 54px);
  background: #fafafa;
  margin-left: 80px;
  padding: 20px;
}

a {
  color: #09c199;
  font-weight: normal;
  font-size: 13px;
  &:hover {
    cursor: pointer;
  }
}

.Spacer {
  flex-grow: 1;
}

.Number {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 600;
 &.Doc {
   color: #00a651;
 }
  &.Few {
    font-size: 15px;
    font-weight: 500;
    color: #707070;
  }
}

.Numbers {
  &.Left {
    text-align: left;
  }
  &.Right {
    text-align: right;
  }
}

.Card {
  padding: 1.6em;
  box-shadow: 0 1px 6px rgb(147 141 158 / 16%), 0 2px 6px rgb(52 53 62 / 16%);
  background: #fff;
  border-radius: 6px;

  .CardTitle {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
}

.CoinSelect {
  .Number {
    font-size: 14px;
    font-weight: normal;
  }

  .ant-input, .ant-select, .ant-select-selector {
    border: none !important;
    background: #f7f7f7 !important;
    height: 48px !important;
    border-radius: 0;
    line-height: 48px !important;
    outline: none !important;
    &.ant-select-focused {
      outline: none !important;
      border: none !important;
    }
    .ant-select-selection-item {
      line-height: 48px;
    }
    .ant-select-arrow {
      color: #00a651;
    }
  }
}

.TextLegend {
  color: #b9b9b9;
  font-size: 12px;
}

.ant-btn {
  border-radius: 5px;
  //padding: 0 20px;
  height: 40px;
  &.ant-btn-ghost {
    border: solid 1px #09c199;
    color: #09c199;
    box-shadow: 0 2px 4px rgb(9 193 153 / 20%), 0 2px 4px rgb(9 193 153 / 20%);
    &:hover {
      border: solid 1px #000;
      color: #000;
    }
  }
  &.ant-btn-primary {
    border: solid 1px #707070;
    background: #707070;
  }

  &.ArrowButton {
    background: #09c199;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.ant-input {
  color: #000;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.ant-select-selection-item  {
  color: #000;
  font-weight: 400;
}