.PageTitle {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #05364f;
}

.PageSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #707070;
}