.WalletBalance {
  padding: 1.6em;
  border-radius: 6px;
  /*box-shadow: 0 1px 6px rgb(147, 141, 158 / 16%), 0 2px 6px rgb(52, 53, 62 / 16%);*/
  box-shadow: 0 1px 6px rgba(189, 188, 189, 0.34), 0 2px 6px rgba(189, 188, 189, 0.34);
  background: #fff;
  border-radius: 6px;
  flex-grow: 0;

  .CardTitle {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  .money-RBTC{
  position:relative;
  top:-130px;
  font-weight:bold;
  display:block;
  text-align:center;
  }
  .money-USD{
    position:relative;
    top:-130px;
    font-size: 12px;
    display:block;
    text-align:center;
  }

  .TotalBalanceBottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    .CopyableText .title {
      color: #09c199;
      font-weight: 700;
    }

    .ModalSendContainer button {
      width: 105px;
    }

    .CopyableText {
      text-align: center;
    }

    .CopyableText div .CopyIcon {
      margin-right: 10px;
      width: 17px;
      height: 17px;
      cursor: pointer;
    }

    .CopyableText .title {
      color: #09c199;
      font-weight: 700;
    }
  }


}

.ButtonPrimary {
  background: #09c199;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 0px 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
  box-shadow: 0 2px 4px rgba(0, 195, 156, 0.20), 0 2px 4px rgba(0, 195, 156, 0.20);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.ButtonPrimary:hover {
  background-color: #05202D;
}

.mrc-15{
  margin-right: 0px;
  @media screen and (min-width:450px) {
    margin-right: 15px;
  }
}