@import '../../assets/css/general_styling';

.AddressContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid $grey;
    margin: 1em 0;
  }

  .TitleAddress {
    @include primary-text(0.8em, $secondary-color, 400);
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }

  img {
    margin: 0 auto;
  }
}

.RNSLink {
  font-size: 0.9em;
  color: $primary-color;
  text-align: center;
}

