@import 'src/Components/Cards/WalletBalance/MoC/style';
//@import 'src/Components/AddressContainer/MoC/style';
//@import 'src/Components/AddressContainer/MoC/style';
//@import 'src/Components/AlertLabel/MoC/style';
//@import 'src/Components/Auth/LoginButton/MoC/style';
//@import 'src/Components/Auth/LoginButton/MoC/style';
//@import 'src/Components/BalanceItem/MoC/style';
//@import 'src/Components/Cards/AmountCard/MoC/style';
//@import 'src/Components/Cards/MintCard/MoC/style';
//@import 'src/Components/Cards/MocAmount/MoC/style';
//@import 'src/Components/Cards/MocLiquidity/MoC/style';
//@import 'src/Components/Cards/RewardsStakingOptionsCard/MoC/style';
//@import 'src/Components/Cards/Sovryn/MoC/style';
//@import 'src/Components/Cards/BtcToRbtc/MoC/style';
@import 'src/Components/Form/CoinSelect/MoC/style';
@import 'src/Components/Form/InputWithCurrencySelector/MoC/style';
@import 'src/Components/InputAddress/MoC/style';
@import 'src/Components/MintOrRedeemToken/MoC/style';
@import 'src/Components/Modals/BtctoRbtcGenerateModal/MoC/style';
@import 'src/Components/Modals/MintModal/MoC/style';
@import 'src/Components/Modals/RbtcToBtcGenerateModal/MoC/style';
@import 'src/Components/Modals/StakingOptionsModal/MoC/style';
@import 'src/Components/Modals/OperationStatusModal/MoC/style';
@import 'src/Components/Page/HeaderCoins/MoC/style';
@import 'src/Components/PerformanceChart/MoC/style';
@import 'src/Components/PriceVariation/MoC/style';
@import 'src/Components/SelectCurrency/MoC/style';
@import 'src/Components/Tables/FastBtcPegOut/MoC/style';
//@import 'src/Pages/Metrics/MoC/style';
//@import 'src/Pages/Mint/MintLeveraged/MoC/style';
//@import 'src/Pages/Mint/MintPro/MoC/style';
//@import 'src/Pages/Mint/MintStable/MoC/style';
//@import 'src/Pages/Rbtc/MoC/style';
//@import 'src/Pages/Home/MoC/style';

.rlogin-modal-header{
  background-color: #08374F !important;
}

.rlogin-modal-body{
  border: 4px solid #08374F !important;
  border-bottom-right-radius: 11px !important;
  border-bottom-left-radius: 11px !important;
}


.ant-modal-header{
  background-color: #08374F !important;
  padding: 8px 24px !important;
  border-radius: 0 0 0 0 !important;
}

.ant-modal-close-x {
  font-size: 21px !important;
}

.ant-modal-content{
  border: 4px solid #08374F !important;
}

.ant-modal-title, .ant-modal-close{
  color: white  !important;
  text-align: center  !important;
}