@import '../../assets/css/global.scss';

.upper-summary {
    font-size: 12px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;

    a {
        font-size: 12px!important;
        color: #1890ff!important;
    }
}