@import "../../assets/css/_general_styling.scss";

.InputAddressContainer {
  .InputAddressLabel {
    @include primary-text(1em, $grey, 400);
    margin-bottom: 5px;
    }
  width: 100%;
  .input, input {
    // @include secondary-text(1em, $grey, 400);
    width: 100%!important;
    margin: 0!important;
    border: none!important;
    border-bottom: 1px solid #e1e1e1!important;
    height: 48px!important;
    padding: 8px!important;
    background: #f7f7f7!important;

    &:hover,
    &:focus {
      @include input-style($primary-color);
    }

    &.formError {
      @include input-style(#ff4d4f);
    }
  }
  img {
    width: 25px;
  }
}